# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\springex\JPA_Board_Clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
